/* importando fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Oswald&display=swap');

:root {
    /* Variáveis Cores globais */
    --cor-branco: #ffffff;
    --cor-preto: #141414;

    /* Fontes */
    --tamanho-fonte-letras: 10rem;
    --tamanho-fonte-padrao: 1rem;
    --estilo-fonte-primario: 'Bebas Neue', sans-serif;
    --espacamento-estilo-pequeno: 0.2rem;
    --espacamento-estilo-medio: 0.4rem;
}

.light-theme{
    color: var(--cor-preto) !important;
    background-color: var(--cor-branco) !important;
}

.dark-theme{
    color: var(--cor-branco) !important;
    background-color: var(--cor-preto) !important;
}

html {
    scroll-behavior: smooth;
}

* {
    /* resetando as medidas do css */
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.home {
    height: 100vh;
    box-sizing: border-box;
}

.home__container__letreiro {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.home__container__divBotoes{
    z-index: 99;
    right: 8px;
    top:8px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 720px) {

    /* ajustar navegação quando resolução mínima 450  */
    .home__container__letreiro {
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    #seta_menor,
    #seta_maior {
        display: none;
    }
}

.home__container__letreiro__letra {
    font-size: var(--tamanho-fonte-letras);
    font-family: var(--estilo-fonte-primario);
}

.home__container__divBotoes__btn {
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 4px 8px;
}

.home__container__divBotoes__btn__img{
    height: 24px;
    width: 24px;
}